$StartMenu-spacing: 2px;
$StartMenu-sprite-base-class: '.item-start-menu span';

@import "Start/StartMenu/*.png";
$menu_items: (
  "login", "registration", "forgot", "language", "invite", "site",
  "clear-chat", "move-to", "jump-to", "move-to", "language-user", "invite-user", "exit");
$item_height: 35;
$item_width: 45;

.big-menu {
  left: 50%;
  top: 50%;
  color: #fff;
  overflow: hidden;
  @include user-select(none);
  .item-start-menu {
    cursor: pointer;
    line-height: 35px;
    float: left;
    clear: both;
    span {
      padding-left: 50px;
      display: block;
    }
    @each $item in $menu_items {
      $top: ($item_height - StartMenu-sprite-height(#{$item})) / 2;
      $left: ($item_width - StartMenu-sprite-width(#{$item})) / 2;
      &.#{$item} span {
        @include StartMenu-sprite-position(#{$item}, $left, $top);
      }
      &.#{$item}.selected span, &.#{$item} span:hover {
        @include StartMenu-sprite-position(#{$item}-hover, $left, $top);
        text-indent: 2px;
      }
    }
    + li {
      margin-top: 17px;
    }
    &.language, &.language-user {
      position: relative;
      z-index: 1;
      width: 100%;
    }
  }
}
