@import "compass";
$select-spacing: 20px;
@import "inputs/select/*.png";
select {
  border: 0 none;
  background: none;
  padding: 0;
  margin: 0;
  font: 15px Arial, sans-serif;
  outline: none;
  color: #333333;
}

$select-spacing: 20px;
@import "inputs/select/*.png";
.select {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 10;
  .select-original-container {
    height: 1px;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 0;
  }
  &.block {
    display: block;
  }
  color: #474747;
  line-height: 26px;
  .select-active-area {
    background: #ffffff;
    @include border-radius(2px);
    @include background-image(linear-gradient(#ffffff, #f1f1f1));
    @include box-shadow(0 0 0 transparent inset, 0 0 0 transparent);
    @include transition(box-shadow 0.2s ease, border-color 0.2s ease);
    border: 1px solid #cdcdcd;
    cursor: pointer;
    position: relative;
    z-index: 1;
    @include box-sizing(border-box);
    height: 28px;
    &:hover, &.focus {
      background: #dfdfdf;
      @include background-image(linear-gradient(#fdfdfd, #dfdfdf));
      border-color: #bbbbbb;
    }
    &:active, &.active {
      background: #fbfbfb;
      @include background-image(linear-gradient(#e0e0e0, #fbfbfb));
      @include box-shadow(0 1px 0 #d8d8d8 inset, 0 0 1px #ffe279);
      border-color: #ceb868;
    }
  }
  .select-list-container {
    @include box-shadow(0 5px 15px rgba(0, 0, 0, 0.25));
    margin: -1px 0;
    max-height: 182px;
    border: 1px solid #bbbbbb;
    background: #fff;
    overflow: auto;
    position: absolute;
    left: 0;
    right: 0;
  }
  .select-list {
    color: #333;
    position: relative;
  }
  .select-button {
    @extend .select-sprite;
    @include select-sprite-position(select_arrow, 100%, 10);
    position: relative;
    z-index: 1;
    height: 100%;
    padding: 0 0 0 13px;
    margin-right: 4px;
  }
  .select-button-text {
    overflow: hidden;
    margin-right: 18px;
    white-space: nowrap;
  }
  .select-option {
    display: block;
    white-space: nowrap;
    cursor: default;
    height: 26px;
    &:hover {
      background: #eef3f9;
    }
    span {
      padding: 0 16px 0 10px;
      display: inline-block;
    }
    &.selected {
      background-color: #ffdb54;
      span {
        @extend .select-sprite;
        @include select-sprite-position(option_checked, 100%, 7);
      }
    }
  }
  .hidden-item {
    padding: 0 36px 0 10px;
    height: 0;
    visibility: hidden;
  }
}
