.start-menu-block {
  width: 240px;
  margin-left: -120px;
  margin-top: -180px;
  position: absolute;
}

.language-start-select {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  margin-left: 10px;
  margin-top: 10px;
  text-indent: 0;
  height: 200px;
  overflow: auto;
  li {
    line-height: 16px;
    padding: 8px 12px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
    &.selected {
      color: #3d3d3d;
      background-color: #fff;
    }
  }
}
