$gender-spacing: 4px;
$gender-sprite-base-class: '.gender-icon';
@import "icons/gender/*.png";

.gender-icon {
  width: 19px;
  height: 23px;
  display: inline-block;
  vertical-align: middle;
  &.male {
    @include gender-sprite-position(male);
  }
  &.female {
    @include gender-sprite-position(female);
  }
}
