.authority-application {
  position: relative;
  overflow: auto;
  width: 100%;
  height: 100%;
}
.content-app {
  margin: 65px;
  &.shop-cart-element {
    input + span {
      margin-top: 1px;
    }
    .price-select {
      margin-left: 65px;
      float: left;
      label {
        line-height: 26px;
        .label-text-radio {
          line-height: inherit;
        }
        + label {
          margin-top: 8px;
        }
      }
    }
    .price-product {
      float: none;
    }
  }
}
