.chat-button {
  white-space: nowrap;
  span {
    display: inline-block;
  }
  .count-users {
    background: url(images/icons/separate-icons/users.png) 3px center no-repeat;
    padding-left: 30px;
  }
}
