$main-menu-spacing: 2px;
$main-menu-sprite-base-class: '.item-menu-content, .gifts-menu categories-item div';
@import "icons/main-menu/*.png";
$menu_items: (
  "info", "presents", "clothes", "character", "cars", "country", "friends", "exit", "more",
  "authority", "avatar", "user-form", "wishes", "blacklist", "complains-requests",
  "pets", "bank", "casino", "game", "lottery", "registry-office", "vip", "emblog", "emphoto"
);
$item_height: 55;
$item_width: 55;

.item-main-menu {
  font-weight: normal;
  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -8px;
    margin-top: -8px;
  }
  .item-menu-content {
    text-align: center;
    margin: 0 auto;
    width: $item_width + px;
    height: $item_height + px;
    cursor: pointer;
    @include user-select(none);
    @include border-radius(8px);
    @each $item in $menu_items {
      &.#{$item} {
        $top: ($item_height - main-menu-sprite-height(#{$item})) / 2;
        $left: ($item_height - main-menu-sprite-width(#{$item})) / 2;
        @include main-menu-sprite-position(#{$item}, $left, $top);
      }
    }
  }
  span {
    display: block;
    line-height: 16px;
    width: 80px;
    margin-left: -12px;
    font-size: 13px;
    margin-top: 100%;
  }
}

.app-menu {
  li {
    .item-menu-content {
      &.disabled {
        cursor: default;
        position: relative;
        .closed-position {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          @include border-radius(8px);
          background: url(/css/images/zamok.png) center center no-repeat rgba(0, 0, 0, 0.5);
        }
      }
      &:active:hover {
        cursor: pointer;
      }
      &.active {
        cursor: default;
      }
      &:hover, &.active {
        border-color: #fff;
      }
      &.exit:active:hover {
        background-color: rgb(128, 80, 60);
      }
      &.more {
        &:active {
          background-color: rgba(0, 0, 0, 0.4)!important;
        }
      }
    }
  }
}
.item-main-menu.info-app-item {
  padding: 13px;
  height: 80px;
  .item-menu-content {
    border: 2px solid #fff;
  }
  span {
    padding-top: 5px;
  }
}
.info-app {
  padding: 5px;
  .item-menu-content {
    &:hover, &:active {
      &:not(.disabled) {
        background-color: rgba(7, 179, 216, 0.6);
      }
    }
  }
  li {
    display: inline-block;
    vertical-align: top;
  }
}
.menu-block-container {
  position: relative;
  left: -75px;
  width: 75px;
  top: 0;
  float: left;
  height: 100%;
}
.dop-main-menu {
  position: absolute;
  top: 153px;
  bottom: 43px;
  left: 0;
  right: 18px;

  &.actived {
    @include border-radius(12px);
    margin: -14px;
    padding: 103px 13px 13px;
    top: 63px;
    border: 1px dashed rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.1);
    &.dropped {
      border-color: rgba(255, 255, 255, 0.8);
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}
.more-item {
  position: absolute;
  bottom: 43px;
  left: 0;
  .item-menu-content {
    border: 1px solid rgba(255, 255, 255, 0.8);
    background-color: rgba(6, 105, 92, 0.6);
  }
}
.menu-block {
  &.main-menu {
    position: absolute;
    top: 63px;
  }
  .item-menu-content {
    border: 1px solid rgba(255, 255, 255, 0.8);
    background-color: rgba(6, 105, 92, 0.6);
  }
  &.more-items {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    float: none;
    background: rgba(0, 0, 0, 0.8);
    z-index: 5;
    padding: 10px;
    li {
      float: left;
      margin: 10px 10px 0;
    }
  }
  li {
    height: 90px;
    position: relative;
    .item-menu-content {
      span {
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 24px;
        white-space: nowrap;
      }
      &:hover, &:active {
        background-color: rgba(6, 105, 92, 0.8);
      }
      &.active, &:active:hover {
        background-color: rgba(16, 130, 177, 0.6);
      }
    }
    &.active, &:active {
      .item-menu-content.more {
        background-color: rgba(0, 0, 0, 0.4)!important;
      }
    }
  }
}
