.chat-application {
  position: relative;
  height: 100%;
  background: #fff;
  z-index: 1;
}
$messenger-spacing: 2px;
$messenger-sprite-base-class: '.messenger-button-icon';
@import "icons/messenger/*.png";

.sent-message-form {
  background-color: #07695c;
  padding: 8px 0;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  white-space: nowrap;
  .textarea {
    @include border-radius(2px);
    display: inline-block;
    background-color: #fff;
    padding: 5px;
    font: inherit;
    color: #444;
    white-space: pre-wrap;
    .input-text-field {
      line-height: 22px;
      min-height: 22px;
      outline: none;
      width: 750px;
    }
  }

  .messenger-button {
    width: 26px;
    margin: 2px 16px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    .messenger-button-icon {
      width: 25px;
      height: 25px;
    }
    &.submit-button {
      .messenger-button-icon {
        @include messenger-sprite-position(submit);
        &:hover, &:focus {
          @include messenger-sprite-position(submit-hover);
        }
      }
    }
    &.smile-button {
      position: relative;
      .messenger-button-icon {
        @include messenger-sprite-position(add-smile);
      }

      &:hover, &:focus {
        .messenger-button-icon {
          @include messenger-sprite-position(add-smile-hover);
        }
      }
      &:focus {
        .messenger-button-icon {
          -webkit-animation: rotate-90 0.2s linear;
          -moz-animation: rotate-90 0.2s linear;
          -ms-animation: rotate-90 0.2s linear;
          -o-animation: rotate-90 0.2s linear;
          animation: rotate-90 0.2s linear;
        }
      }
      .smiles-block {
        position: absolute;
        bottom: 100%;
        background-color: rgb(241, 246, 255);
        left: 0;
        max-height: 0;
        margin-left: -13px;
        margin-bottom: 11px;
        padding: 0 5px;
        width: 874px;
        @include box-shadow(0 1px 10px rgba(0, 0, 0, 0.2));
        @include box-sizing(border-box);
        @include transition(max-height 0.5s ease, padding 0.5s ease);
        cursor: default;
        overflow: hidden;
      }
      &:focus {
        .smiles-block {
          max-height: 300px;
          padding: 5px;
        }
      }
      .one-smile {
        float: left;
        width: 42px;
        height: 42px;
        text-align: center;
        line-height: 42px;
        cursor: pointer;
        margin-left: 1px;
        @include border-radius(3px);
        img {
          width: 80%;
          height: 80%;
          vertical-align: middle;
          @include transition(width 0.1s ease, height 0.1s ease);
        }
        &:hover {
          background-color: #fff;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
.messages-list-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 47px;
  overflow: auto;
}
.message-text {
  color: #534741;
  margin-top: 3px;
  .smile-message {
    height: 16px;
    vertical-align: middle;
    display: inline-block;
    margin: 0 4px;
    img {
      height: 24px;
      vertical-align: top;
      margin: -4px;
    }
  }
}
.textarea .smile {
  height: 24px;
  margin: -1px 0;
  vertical-align: top;
}
.message-block {
  padding: 0 10px;
  min-height: 67px;
  .full-message-content {
    padding: 6px 0;
  }
  .user-avatar {
    width: 55px;
    height: 55px;
    @include border-radius(50%);
    float: left;
    overflow: hidden;
    text-align: center;
  }
  &.not-even {
    background-color: #ecede8;
  }
  .content-message {
    margin: 0 10px 0 65px;
    .nick-name {
      cursor: pointer;
    }
  }
  .title-content-message {
    color: #ac754e;
    padding: 5px 0;
  }
  &.self-message {
    .title-content-message {
      color: #679e79;
    }
  }
  &:after {
    content: '';
    clear: both;
    height: 0;
    display: block;
  }
}
