.outfit-application {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  z-index: 1;
  .model-preview {
    margin: 25px 0 0 60px;
    position: absolute;
    top: 35px;
    left: 0;
  }
  .model-item-preview {
    float: left;
    margin: 10px 5px;
    padding: 10px 0;
    @include border-radius(6px);
  }
  .models-list {
    &:after {
      content: "";
      display: block;
      clear: both;
      height: 0;
      line-height: 0;
    }
    .model-item-preview {
      cursor: pointer;
      width: 100px;
      text-align: center;
      height: 160px;
      line-height: 160px;
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
      &.active {
        background-color: rgba(255, 255, 255, 0.3);
        cursor: default;
      }
      img {
        vertical-align: middle;
      }
    }
  }
  .my-products-content, .showcase-list {
    left: 240px;
  }

}
