.user-search {
  background-color: rgba(0, 0, 0, 0.80);
  position: absolute;
  top: 10px;
  right: 12px;
  padding: 16px 22px 30px;
  @include border-radius(6px);
  z-index: 3;
  .search-arrow {
    width: 17px;
    height: 7px;
    background: url(/css/images/arrow-search-form.png) center center no-repeat;
    position: absolute;
    top: -23px;
    right: 32px;
  }
  form {
    width: 210px;
    position: relative;
  }
  input[type="text"] {
    width: 100%;
    height: 26px;
    line-height: 22px;
    padding: 0 6px;
    background-color: rgba(255, 255, 255, 0.6);
  }
  .label {
    display: block;
    color: #fff;
    padding: 5px 0;
  }
  .search-field-holder {
    padding: 5px 0;
  }
  .gender-select {
    margin-top: 10px;
  }
  .age-holder {
    input {
      width: 65px;
      + input {
        margin-left: 16px;
      }
    }
  }
  .submit-button {
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0.4);
    margin-top: 20px;
    height: 22px;
    cursor: pointer;
  }
}
