$top-bar-spacing: 4px;
$top-bar-sprite-base-class: '.item-bar';
@import "icons/top-bar/*.png";
$bar_items: ("messenger", "user-menu", "search");
$close-icons-spacing: 2px;
$close-icons-sprite-base-class: '.close-button';
@import "icons/close-icons/*.png";


$min-spacing: 5px;
$min-sprite-base-class: '.top-bar .app-button';
@import "icons/top-bar/min/*.png";

$menu_items: ("wishes", "user-form", "avatar", "info", "presents", "clothes", "character", "cars", "country", "friends");

$min-nav-spacing: 1px;
$min-nav-sprite-base-class: '.top-bar .list-apps-button';
@import "icons/min-nav/*.png";

.top-bar {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 7px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  @include user-select(none);
  .item-bar {
    height: 30px;
    line-height: 30px;
    overflow: visible;
    padding: 0 7px 0 40px;
    cursor: pointer;
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
    &.active {
      background-color: rgba(255, 255, 255, 0.4);
    }
    @each $item in $bar_items {
      &.#{$item}-item {
        $left: (40 - top-bar-sprite-width(#{$item})) / 2;
        $top: (30 - top-bar-sprite-height(#{$item})) / 2;
        @include top-bar-sprite-position(#{$item}, $left, $top);
      }
    }
    &.messenger-item {
      padding-right: 0;
    }
    &.chat-item {
      background-image: none;
      padding-left: 7px;
    }
    &.search-item, &.user-menu-item {
      float: right;
      margin: 0 2px;
      padding-right: 0;
    }
  }
  .separator {
    display: block;
    width: 2px;
    background-color: #fff;
    height: 30px;
  }
  .apps-list {
    float: left;
    overflow: hidden;
    position: relative;
    margin: -7px 0;
    ul {
      position: relative;
      white-space: nowrap;
      float: left;
      margin: 7px 0;
    }
    .list-apps-button {
      width: 18px;
      height: 44px;
      background-color: rgba(0, 0, 0, 0.8);
      cursor: pointer;
      position: absolute;
      z-index: 1;
      &.back-list {
        left: 0;
        @include min-nav-sprite-position(back-min);
        &:hover {
          @include min-nav-sprite-position(back-min-hover);
        }
      }
      &.go-list {
        right: 0;
        @include min-nav-sprite-position(next-min);
        &:hover {
          @include min-nav-sprite-position(next-min-hover);
        }
      }
    }
  }
  .app-button {
    cursor: pointer;
    display: inline-block;
    padding: 3px 30px 3px 40px;
    margin: 2px 0;
    line-height: 20px;
    border-width: 0 2px;
    border-style: solid;
    border-color: #fff;
    + .app-button {
      border-left: none;
    }
    @each $item in $menu_items {
      &.app-button-#{$item} {
        $top: (26 - min-sprite-height(#{$item})) / 2;
        $left: (40 - min-sprite-width(#{$item})) / 2;
        @include min-sprite-position(#{$item}, $left, $top);
      }
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      .close-app-button {
        display: block;
      }
    }
    &.active {
      background-color: rgba(255, 255, 255, 0.4);
    }
    .close-app-button {
      float: right;
      margin-right: -25px;
      display: none;
    }
  }
  &:after {
    content: 0;
    clear: both;
    height: 0;
    display: block;
  }
}
.close-button {
  cursor: pointer;
  width: 20px;
  height: 20px;
  @include close-icons-sprite-position(close);
  &:hover {
    @include close-icons-sprite-position(close-hover);
  }
}
