.userinfo-application form {
  width: 214px;
  height: 280px;
  margin-left: -107px;
  margin-top: 20%;
  left: 50%;
  top: 0;
  position: absolute;
  input {
    height: 26px;
    line-height: 22px;
    padding: 0 6px;
    + input {
      margin-top: 10px;
    }
  }
  .send-button {
    border: 2px solid #fff;
    @include box-sizing(border-box);
    width: 100%;
    margin-top: 20px;
    height: 26px;
    background: url(/css/images/icons/separate-icons/ok.png) center center no-repeat rgba(255, 255, 255, 0.3);
    cursor: pointer;
    &:hover, &:focus {
      background-color: rgba(7, 179, 216, 0.3);
    }
  }
}
