$user-panel-spacing: 5px;
$user-panel-sprite-base-class: '.icon-user, .params-block li';
@import "icons/user-panel/*.png";

.icon-user {
  display: inline-block;
  &.user-add-money {
    width: 26px;
    height: 26px;
    @include user-panel-sprite-position(money-add);
    @include opacity(0.7);
    cursor: pointer;
    &:hover {
      @include opacity(1);
    }
    &:active {
      @include user-panel-sprite-position(money-add-active);
    }
  }
}
.user-panel-block {
  float: right;
  margin-right: -120px;
  padding-top: 30px;
  width: 120px;
  .gender-icon {
    margin-left: 6px;
  }
  .avatar-block {
    width: 82px;
    height: 82px;
    margin: 0 auto;
    background: url(images/empty-avatar.png);
    overflow: hidden;
    position: relative;
    .avatar-container {
      @include border-radius(50%);
      width: 100%;
      height: 100%;
      overflow: hidden;
      background: url(images/icons/separate-icons/add-avatar.png) center center no-repeat;
    }
    &:hover {
      .avatar-container {
        background-image: url(images/icons/separate-icons/add-avatar-hover.png);
      }
    }
    img {

    }
    input {
      position: absolute;
      z-index: 1;
      font-size: 0;
      @include opacity(0);
      margin: 0;
      top: 0;
      right: 0;
      padding: 45px;
    }
  }
  .name-block {
    color: #fff;
    font-size: 14px;
    padding: 5px 0;
    text-align: center;
    font-weight: bold;
    text-indent: 20px;
  }
  .params-block {
    width: 80px;
    margin: 0 auto;
    padding-top: 10px;
    font-size: 18px;
    li {
      line-height: 30px;
      padding-left: 40px;
      &.user-rank {
        @include user-panel-sprite-position(rank, 7, 0);
      }
      &.user-money, &.user-add-money {
        @include user-panel-sprite-position(money, 0, 3);
      }
      &.user-add-money {
        span {
          vertical-align: top;
        }
      }
      + li {
        margin-top: 8px;
      }
    }
  }
}
