.user-menu {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  margin-right: -30px;
  margin-bottom: -30px;
  bottom: 0;
  overflow: scroll;
  .big-menu {
    width: 300px;
    white-space: nowrap;
    margin: 100px auto auto;
    padding-bottom: 50px;
  }
}
