.wishes-application {
  height: 100%;
  width: 100%;
}
.wishes-content {
  position: relative;
  height: 100%;
  .product-element {
    margin: 8px;
  }
}
.wishes-list {
  position: absolute;
  top: 34px;
  bottom: 0;
  padding: 17px;
  overflow: auto;
  left: 0;
  right: 0;
}
