$placeholder-color: rgba(51, 44, 78, 0.5);
$inputs-spacing: 10px;
$inputs-sprite-base-class: 'input.with-icon';
@import "inputs/*.png";

input {
  &[type="text"], &[type="password"] {
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    height: 33px;
    line-height: 26px;
    padding: 5px 6px 4px;
    font-size: 17px;
    background-color: rgba(255, 255, 255, 0.8);
    &.error-field {
      border-color: #aa0000!important;
      background-color: rgba(255, 200, 200, 0.4)!important;
      color: #331121!important;
    }
    &.with-icon {
      padding-left: 34px;
      color: #332c4e;
      &.login-input {
        @include inputs-sprite-position(login-icon, 6, 6);
      }
      &.password-input {
        @include inputs-sprite-position(pwd-icon, 8, 6);
      }
      &.email-input {
        @include inputs-sprite-position(mail-icon, 6, 8);
      }
    }
    &:-ms-input-placeholder {
      color: $placeholder-color;
    }
    &::-webkit-input-placeholder {
      color: $placeholder-color;
    }
    &:-moz-placeholder {
      color: $placeholder-color;
    }
    &:focus {
      &:-ms-input-placeholder {
        color: transparent;
      }
      &::-webkit-input-placeholder {
        color: transparent;
      }
      &:-moz-placeholder {
        color: transparent;
      }
    }
  }
}
