html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #000008;
  overflow: hidden;
  font: 15px Arial, sans-serif normal normal;
  color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
  }
}

input, a, button, select, textarea {
  outline: 0;
  margin: 0;
  padding: 0;
}
.bold {
  font-weight: bold;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.clear {
  height: 0;
  line-height: 0;
  clear: both;
}
@mixin user-select($type){
  -webkit-touch-callout: $type;
  -webkit-user-select: $type;
  -moz-user-select: $type;
  -ms-user-select: $type;
  user-select: $type;
}

.preload-bg {
  background-color: rgba(0, 0, 0, 0.5);
}
.pre-loader {
  position: absolute;
  top: 50%;
  left: 50%;

  div {
    width: 100%;
    height: 100%;
  }
  &.big, &.medium, &.micro, &.small.animated {
    div {
      -webkit-animation: preloader 2.5s infinite linear;
      -moz-animation: preloader 2.5s infinite linear;
      -ms-animation: preloader 2.5s infinite linear;
      -o-animation: preloader 2.5s infinite linear;
      animation: preloader 2.5s infinite linear;
    }
  }
  &.big {
    width: 125px;
    height: 114px;
    margin-top: -57px;
    margin-left: -63px;
    background: url(/css/images/loader/background-big-loader.png) center center no-repeat;
    div {
      background: url(/css/images/loader/big-loader.png) center center no-repeat;
    }
  }
  &.medium {
    width: 64px;
    height: 64px;
    margin-top: -32px;
    margin-left: -32px;
    background: url(/css/images/loader/background-medium-loader.png) center center no-repeat;
    div {
      background: url(/css/images/loader/medium-loader.png) center center no-repeat;
    }
  }
  &.small {
    width: 48px;
    height: 48px;
    margin-top: -24px;
    margin-left: -24px;
    background: url(/css/images/loader/background-small-loader.png) center center no-repeat;
    div {
      background: url(/css/images/loader/small-loader.png) center center no-repeat;
    }
  }
  &.micro {
    width: 18px;
    height: 18px;
    margin-top: -9px;
    margin-left: -9px;
    background: rgba(0, 0, 0, 0.5);
    @include border-radius(2px);
    div {
      background: url(/css/images/loader/micro-loader.png) center center no-repeat;
    }
  }
  z-index: 3;
}
.relative-container {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.absolute-container {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@-webkit-keyframes preloader {
  to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes preloader {
  to { -moz-transform: rotate(360deg); }
}
@-ms-keyframes preloader {
  to { -ms-transform: rotate(360deg); }
}
@-o-keyframes preloader {
  to { -o-transform: rotate(360deg); }
}
@keyframes preloader {
  to { transform: rotate(360deg); }
}
@-webkit-keyframes rotate-90 {
  to { -webkit-transform: rotate(90deg); }
}
@-moz-keyframes rotate-90 {
  to { -moz-transform: rotate(90deg); }
}
@-ms-keyframes rotate-90 {
  to { -ms-transform: rotate(90deg); }
}
@-o-keyframes rotate-90 {
  to { -o-transform: rotate(90deg); }
}
@keyframes rotate-90 {
  to { transform: rotate(90deg); }
}