.page-background {
  position: absolute;
}
.page-holder {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.content-section {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  bottom: 0;
  z-index: 1;
  .country-preview + & {
    bottom: 218px;
  }
}
.application-wrapper {
  width: 876px;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.25);
  position: relative;
}
.bg-app-container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
.application-section {
  position: absolute;
  left: 0;
  top: 44px;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: 1;
}
$medium-controls-spacing: 2px;
$medium-controls-sprite-base-class: '.country-control';
@import "medium-controls/*.png";

.country-preview {
  @include user-select(none);
  height: 218px;
  background: #e7e8e3;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  .country-preview-background {
    width: 100%;
    height: 100%;
    background-position: 0 bottom;
    background-repeat: repeat-x;
    overflow: hidden;
    transform: translateZ(0px);
    position: relative;
  }
  &:hover {
    .navigation-button.visibled {
      &.next-personages {
        margin-right: 0px;
      }
      &.prev-personages {
        margin-left: 0px;
      }
    }
  }
  .navigation-button {
    @include transition(margin 0.2s ease);
    width: 60px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    position: relative;
    z-index: 6;
    &.next-personages {
      float: right;
      margin-right: -60px;
    }
    &.prev-personages {
      float: left;
      margin-left: -60px;
    }
    .personages-counter {
      display: block;
      text-align: center;
      padding-top: 29px;
      background: url(images/icons/count-pers.png) center top no-repeat;
    }
    .country-control {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -10px;
      margin-left: -20px;
      display: block;
      &.next-element {
        @include medium-controls-sprite-position(next);
      }
      &.prev-element {
        @include medium-controls-sprite-position(prev);
      }
    }
    &:hover {
      .country-control {
        &.next-element {
          @include medium-controls-sprite-position(next-hover);
        }
        &.prev-element {
          @include medium-controls-sprite-position(prev-hover);
        }
      }
    }
  }
  .personages-list {
    height: 100%;
    white-space: nowrap;
    text-align: center;
    min-width: 99%;
    transform: translateZ(0px);
    position: absolute;
    li {
      display: inline-block;
      vertical-align: top;
      height: 100%;
    }
    .personage-container {
      top: 70px;
      margin: 0 25px;
      min-width: 120px;
      cursor: pointer;
      .min-loader-pers {
        width: 60px;
        height: 142px;
        position: static;
        display: inline-block;
        vertical-align: bottom;
        &.pers-gender-male {
          background: url(images/loader/male-2.png) center center no-repeat;
        }
        &.pers-gender-female {
          background: url(images/loader/female-2.png) center center no-repeat;
        }
      }
    }
    .personage-user-name {
      color: #036e78;
      position: absolute;
      white-space: nowrap;
      line-height: 25px;
      margin-top: -70px;
      top: 0;
      width: 100%;
    }
  }
}



.avatar-application, .userinfo-application {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.avatar-app-container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 240px;
  margin: -170px auto auto -120px;
}

.avatar-application,
.character-application,
.userinfo-application,
.outfit-application,
.authority-application,
.friends-application,
.user-menu,
.wishes-application {
  background-color: rgba(0, 0, 0, 0.4);
}