.personage-container {
  @include user-select(none);
  position: relative;
  .pre-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 13;
  }
  &.gender-male {
    .personage-image-clothes-9 ~ {
      .personage-image-clothes-6, .personage-image-clothes-7, .personage-image-clothes-8 {
        display: none;
      }
    }
    .personage-image-clothes-6, .personage-image-clothes-7, .personage-image-clothes-8 {
      ~ .personage-image-clothes-9 {
        display: none;
        ~ {
          .personage-image-clothes-6, .personage-image-clothes-7, .personage-image-clothes-8 {
            display: block;
          }
        }
      }
    }
    .personage-image-clothes-1 {
      z-index: 1;
    }
    .personage-image-clothes-2 {
      z-index: 2;
    }
    .personage-image-clothes-3 {
      z-index: 3;
    }
    .personage-image-clothes-4 {
      z-index: 4;
    }
    .personage-image-clothes-5 {
      z-index: 5;
    }
    .personage-image-clothes-6 {
      z-index: 6;
    }
    .personage-image-clothes-7 {
      z-index: 7;
    }
    .personage-image-clothes-8 {
      z-index: 8;
    }
    .personage-image-clothes-9 {
      z-index: 9;
    }
    .personage-image-clothes-10 {
      z-index: 10;
    }
  }
  &.gender-female {
    .personage-image-clothes-3 ~ .personage-image-clothes-5 {
      display: none!important;
    }
    .personage-image-clothes-5 ~ .personage-image-clothes-3 {
      display: none!important;
    }
    .personage-image-clothes-7 ~ .personage-image-clothes-8 {
      display: none!important;
    }
    .personage-image-clothes-8 ~ .personage-image-clothes-7 {
      display: none!important;
    }
    .personage-image-clothes-6 ~ {
      .personage-image-clothes-3, .personage-image-clothes-5,
      .personage-image-clothes-7, .personage-image-clothes-8 {
        display: none;
      }
    }
    .personage-image-clothes-3, .personage-image-clothes-5,
    .personage-image-clothes-7, .personage-image-clothes-8 {
      ~ .personage-image-clothes-6 {
        display: none!important;
      }
    }
    .personage-image-clothes-7, .personage-image-clothes-8 {
      ~ .personage-image-clothes-6 ~ {
        .personage-image-clothes-3, .personage-image-clothes-5 {
          display: block;
        }
      }
    }
    .personage-image-clothes-3, .personage-image-clothes-5 {
      ~ .personage-image-clothes-6 ~ {
        .personage-image-clothes-7, .personage-image-clothes-8 {
          display: block;
        }
      }
    }
    .personage-image-clothes-1 {
      z-index: 1;
    }
    .personage-image-clothes-2 {
      z-index: 2;
    }
    .personage-image-clothes-3 {
      z-index: 3;
    }
    .personage-image-clothes-4 {
      z-index: 5;
    }
    .personage-image-clothes-5 {
      z-index: 4;
    }
    .personage-image-clothes-6 {
      z-index: 6;
    }
    .personage-image-clothes-7 {
      z-index: 7;
    }
    .personage-image-clothes-8 {
      z-index: 8;
    }
    .personage-image-clothes-9 {
      z-index: 9;
    }
    .personage-image-clothes-10 {
      z-index: 10;
    }
    .personage-image-clothes-11 {
      z-index: 11;
    }
    .personage-image-clothes-12 {
      z-index: 12;
    }
  }
  .personage-image-magic, .personage-image-pers, .personage-static-container {
    position: relative;
    z-index: 2;
  }
  .personage-image-comp {
    position: relative;
    z-index: 1;
    + {
      .personage-image-pers, .personage-static-container {
        margin-left: -50px;
      }
    }
  }
  .personage-image-magic, .personage-image-pers, .personage-static-container, .personage-image-comp {
    vertical-align: bottom;
  }
  .personage-static-container {
    display: inline-block;
    height: 100%;
    .personage-image {
      display: block;
      position: absolute;
      left: 50%;
      &.personage-image-heads {
        z-index: 2;
        top: 0;
      }
      &.personage-image-models, &.personage-image-bodies {
        bottom: 0;
      }
      &.personage-image-bodies {
        z-index: 1;
      }
    }
    &:after {
      content: "";
    }
  }
  &.size_2 {
    line-height: 142px;
    height: 142px;
    min-width: 100px;
    .personage-static-container {
      width: 100px;
    }
  }
  &.size_3 {
    line-height: 242px;
    height: 242px;
    min-width: 110px;
    .personage-static-container {
      width: 110px;
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -55px;
    }
  }
}

.user-random-button {
  text-align: center;
  cursor: pointer;
}

$controls-spacing: 2px;
$controls-sprite-base-class: '.changer-button';
@import "controls/*.png";

.changer-button {
  width: 45px;
  height: 45px;
  cursor: pointer;
  &.next-element {
    @include controls-sprite-position(next);
    &:hover {
      @include controls-sprite-position(next-hover);
    }
    &:active {
      @include controls-sprite-position(next-active);
    }
  }
  &.prev-element {
    @include controls-sprite-position(prev);
    &:hover {
      @include controls-sprite-position(prev-hover);
    }
    &:active {
      @include controls-sprite-position(prev-active);
    }
  }
}
.personage-control {
  position: absolute;
  &.personage-heads-control, &.personage-bodies-control {
    width: 100%;
    .changer-button {
      &.next-element {
        float: right;
      }
      &.prev-element {
        float: left;
      }
    }
  }
  &.personage-bodies-control {
    top: 160px;
  }
  &.personage-heads-control {
    top: 30px;
  }
}
.personage-random-control {
  @include box-sizing(border-box);
  width: 100%;
  height: 33px;
  border: 2px solid #fff;
  background: url(/css/images/icons/random.png) center center no-repeat;
  cursor: pointer;
  margin: 0 auto;
  position: relative;
  top: 105%;
  &:hover {
    background-color: rgba(131, 217, 235, 0.6);
  }
  &:active {
    background-color: rgba(131, 235, 225, 0.6);
  }
}
