$shops-spacing: 4px;
$shops-sprite-base-class: '.nav-shops-button span';
@import "icons/shops/*.png";
$menu_items: (
  "shop", "ok", "model", "trash", "categories", "buy", "desires", "search",
  "clothes", "pers", "comp", "gifts"
);

$item_height: 24;

$shop-categories-spacing: 7px;
$shop-categories-sprite-base-class: '.pers-menu .categories-item, .clothes-menu .categories-item, .gifts-menu div, .wishes-menu div';

@import "icons/shop-categories/*.png";

$menu_outfit_items: (
  "tights", "skirts", "shoes-w", "shoes", "trousers", "trousers-w", "dresses", "sweatshirts", "corsets", "coats", "hats-w", "hats", "glasses", "handbags", "socks", "t_shirts", "shirts", "suits", "underwear-w", "underwear", "jackets"
);

$menu_characters_items: (
  "fantastic", "arabs", "europeans", "hispanics", "asians", "africans", "hindus"
);



$item_outfit_height: 39;
$item_outfit_width: 38;
$item_characters_height: 50;
$item_characters_width: 50;
$item_gifts_height: 55;
$item_gifts_width: 55;

$gifts_items: (
  "clothes", "cars", "accessories", "food", "other", "wedding"
);

$wishes_items: (
  "presents", "cars", "money", "pets", "authority", "character", "clothes"
);

.categories-list {
  position: absolute;
  z-index: 20;
  min-height: 100%;
  top: 0;
  left: 0;
  right: 0;
  .categories-menu {
    width: 270px;
    margin: 50px auto;
    &:after {
      content: "";
      display: block;
      clear: both;
      height: 0;
      line-height: 0;
    }
    &.clothes-menu {
      .categories-item {
        height: 40px;
        line-height: 38px;
        padding-left: 50px;
        @each $item in $menu_outfit_items {
          &.#{$item} {
            $top: ($item_outfit_height - shop-categories-sprite-height(#{$item})) / 2;
            $left: ($item_outfit_width - shop-categories-sprite-width(#{$item})) / 2;
            @include shop-categories-sprite-position(#{$item}, $left, $top);
            &:hover {
              $top: ($item_outfit_height - shop-categories-sprite-height(#{$item}-hover)) / 2;
              $left: ($item_outfit_width - shop-categories-sprite-width(#{$item}-hover)) / 2;
              @include shop-categories-sprite-position(#{$item}-hover, $left, $top);
            }
          }
        }
      }
    }
    &.pers-menu {
      margin-top: 100px;
      .categories-item {
        height: 50px;
        line-height: 48px;
        padding-left: 56px;
        @each $item in $menu_characters_items {
          &.#{$item} {
            $top: ($item_characters_height - shop-categories-sprite-height(#{$item})) / 2;
            $left: ($item_characters_width - shop-categories-sprite-width(#{$item})) / 2;
            @include shop-categories-sprite-position(#{$item}, $left, $top);
            &:hover, &.active {
              $top: ($item_characters_height - shop-categories-sprite-height(#{$item}-hover)) / 2;
              $left: ($item_characters_width - shop-categories-sprite-width(#{$item}-hover)) / 2;
              @include shop-categories-sprite-position(#{$item}-hover, $left, $top);
            }
            &.active {
              color: #7ee9ed;
            }
          }
        }
      }
    }
    &.gifts-menu {
      li {
        @each $item in $gifts_items {
          &.#{$item} div {
            $top: ($item_gifts_height - shop-categories-sprite-height(#{$item})) / 2;
            $left: ($item_gifts_height - shop-categories-sprite-width(#{$item})) / 2;
            @include shop-categories-sprite-position(#{$item}, $left, $top);
          }
        }
      }
    }
    &.wishes-menu {
      li {
        @each $item in $wishes_items {
          &.#{$item} div {
            $top: ($item_gifts_height - shop-categories-sprite-height(#{$item})) / 2;
            $left: ($item_gifts_height - shop-categories-sprite-width(#{$item})) / 2;
            @include shop-categories-sprite-position(#{$item}, $left, $top);
          }
        }
      }
    }
    &.gifts-menu, &.wishes-menu {
      text-align: center;
      width: auto;
      margin-top: 30%;
      li {
        display: inline-block;
        vertical-align: top;
        float: none;
        width: 115px;
        cursor: default;
        + li {
          margin-top: 0;
        }
        div {
          height: 55px;
          width: 55px;
          cursor: pointer;
          @include user-select(none);
          @include border-radius(8px);
          margin: 0 auto;
          border: 2px solid #fff;
          &:hover, &:active {
            background-color: rgba(7, 179, 216, 0.6);
          }
          span {
            display: block;
            margin: 110% -35px 0;
          }
        }
      }
    }
  }
  .categories-item {
    white-space: nowrap;
    cursor: pointer;
    float: left;
    clear: both;
    + .categories-item {
      margin-top: 4px;
    }
  }
}
.adding-indicator {
  font-size: 9px;
  background-color: #be4444;
  height: 2em;
  line-height: 2em;
  text-align: center;
  @include border-radius(1em);
  position: absolute;
  top: 0;
  left: 100%;
  margin-top: -5px;
  margin-left: -1em;
  padding: 0 0.8em;
  font-weight: bold;
}
.nav-shops-button {
  border: 2px solid #fff;
  height: 24px;
  cursor: pointer;
  text-align: center;
  line-height: 24px;
  font-size: 13px;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  &.top-index {
    z-index: 1;
  }
  span {
    display: inline-block;
    vertical-align: top;
    height: $item_height + px;
    @each $item in $menu_items {
      &.#{$item}-icon {
        width: shops-sprite-width(#{$item});
        $top: ($item_height - shops-sprite-height(#{$item})) / 2;
        @include shops-sprite-position(#{$item}, 0, $top);
      }
    }
  }
  &.categories-button {
    background-color: rgba(227, 13, 13, 0.5);
  }
  &.float-left, &.float-right {
    &, + .nav-shops-button {
      width: 61px;
    }
  }
  &:hover {
    background-color: rgba(0, 240, 255, 0.3);
  }
  &.active, &.active:hover {
    cursor: default;
    background-color: rgba(0, 240, 255, 0.6);
  }
  .shop-top-panel & {
    width: 61px;
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
    margin-bottom: 3px;
    + .nav-shops-button {
      margin-left: 8px;
    }
  }
}
.shop-content, .shop-application, .shop-application-content {
  width: 100%;
  height: 100%;
  position: relative;
}
.showcase-list {
  position: absolute;
  transform: translateZ(0px);
  top: 34px;
  bottom: 0;
  right: 175px;
  left: 17px;
  overflow: auto;
  padding: 4px 0 20px;
}
.my-products-content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 175px;
  left: 17px;
  overflow: auto;
  padding: 38px 0 20px;
}
.shop-cart {
  position: absolute;
  top: 82px;
  bottom: 0;
  right: 17px;
  left: 17px;
  overflow: auto;
  padding: 4px 0 20px;
}
.nav-shops {
  right: 0;
  top: 35px;
  position: absolute;
  margin: 10px 17px 0 0;
  width: 140px;
  .buttons-line {
    float: left;
    width: 100%;
    + .buttons-line {
      margin-top: 13px;
    }
  }
}
.fullview-container {
  .close-button {
    position: absolute;
    right: 14px;
    top: 5px;
    z-index: 3;
  }
  .only-image-container {
    position: absolute;
    max-width: 90%;
    max-height: 90%;
    left: 50%;
    top: 50%;
    z-index: 4;
  }
  img {
    display: block;
    top: 50%;
    max-width: 80%;
    max-height: 80%;
    position: relative;
    margin: 0 auto;
  }
  .slider-list {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    li {
      position: relative;
      width: 100%;
      height: 100%;
      display: inline-block;
    }
  }
  .changer-button {
    top: 50%;
    margin-top: -25px;
    position: absolute;
    z-index: 4;
    &.next-element {
      right: 20px;
    }
    &.prev-element {
      left: 20px;
    }
  }
  .fullview-checkbox {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 15px;
    color: #fff;
    z-index: 4;
    cursor: pointer;
    padding: 5px 15px 5px 5px;
    @include border-radius(5px);
    background: rgba(0, 0, 0, 0.5);
  }
  .shop-top-panel {
    z-index: 4;
  }
}
.money-icon, .rank-icon {
  display: inline-block;
  vertical-align: top;
  width: 26px;
}
.money-icon {
  background: url("/css/images/money.png") center center no-repeat;
  height: 20px;
}
.rank-icon {
  background: url("/css/images/rank.png") center center no-repeat;
  height: 26px;
}
.shop-top-panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #087465;
  padding: 0 17px;
  z-index: 3;
  input[type="text"] {
    width: 140px;
    height: auto;
    margin: 3px 0 3px 7px;
    padding: 2px 6px 1px;
    line-height: 21px;
    font-size: 14px;
  }
  .my-money {
    float: right;
  }
  .amount-money {
    color: #f7c65d;
    margin-right: 10px;
    min-width: 70px;
  }
  .my-money, .amount-money {
    line-height: 34px;
    display: inline-block;
    vertical-align: top;
  }
  .money-icon {
    margin-top: 6px;
    margin-left: 5px;
  }
}
.product-element {
  width: 70px;
  height: 70px;
  cursor: pointer;
  position: relative;
  display: block;
  @include user-select(none);
  @include border-radius(8px);
  float: left;
  margin: 4px;
  border: 2px solid #fff;
  line-height: 70px;
  text-align: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  @include transition(background-color 0.2s ease);
  label {
    cursor: pointer;
  }
  &.checked {
    background-color: rgba(0, 240, 255, 0.2);
  }
  .close-button {
    position: absolute;
    top: 2px;
    right: 1px;
  }
  .label-checkbox {
    position: absolute;
    bottom: -2px;
    left: -2px;
    line-height: 0;
  }
  .name-product {
    position: absolute;
    bottom: 2px;
    right: 2px;
    font-size: 12px;
    line-height: 14px;
    padding: 2px 5px;
    background: rgba(0, 0, 0, 0.4);
    @include border-radius(2px 2px 5px 2px);
    color: #fff;
  }
  img {
    vertical-align: middle;
    max-width: 60px;
    max-height: 60px;
  }
  .clothes-7-male &, .clothes-8-male &, .clothes-3-female & {
    line-height: 85px;
    height: 85px;
    img {
      max-height: 75px;
    }
  }
  .clothes-10-male &, .clothes-6-male &, .clothes-1-female &, .clothes-2-female &, .clothes-5-female &, .clothes-9-female & {
    line-height: 100px;
    height: 100px;
    img {
      max-height: 90px;
    }
  }
  .clothes-9-male &, .clothes-6-female & {
    line-height: 140px;
    height: 140px;
    img {
      max-height: 130px;
    }
  }
  &.comp-element {
    width: 120px;
    height: 120px;
    line-height: 120px;
    img {
      max-width: 110px;
      max-height: 110px;
    }
  }
  &.pers-element, &.cart-element, &.gifts-element {
    width: 120px;
    height: 160px;
    line-height: 160px;
    img {
      max-width: 110px;
      max-height: 150px;
    }
  }
}
.shop-cart-element {
  float: left;
  width: 50%;
  @include user-select(none);
  .money-icon, .rank-icon {
    margin-left: 6px;
  }
  img {
    max-width: none;
    max-height: none;
  }
  .price-product {
    float: right;
  }
  .product-element {
    z-index: 1;
  }
  .price-select {
    margin-left: 140px;
    padding: 16px 0;
    label {
      display: block;
      cursor: pointer;
      padding: 3px;
      margin-right: 65px;
      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        @include border-radius(2px);
      }
      + label {
        margin-top: 6px;
      }
    }
  }
  input + span {
    float: left;
  }
  .label-text-radio {
    display: block;
    line-height: 24px;
    margin-left: 40px;
  }
}
.shop-loader + {
  .nav-shops {
    display: none;
    + .shop-top-panel {
      display: none;
    }
  }
}
