@import "Start/StartMenu";

$inputs-spacing: 2px;
@import "checkbox/*.png";

.gender-control {
  padding: 5px 0;
  margin-top: 30px;
}
.gender-select {
  line-height: 27px;
  display: inline-block;
  + .gender-select {
    margin-left: 15px;
  }
}

.forgot-form, .auth-form {
  height: 240px;
  top: 50%;
  margin-top: -170px;
  .submit-button, .dop-button {
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    text-align: center;
    &:hover, &:focus {
      background-color: rgba(7, 179, 216, 0.3);
    }
  }
  .dop-button {
    margin: 5px 0;
  }
  .submit-button {
    background-image: url(/css/images/icons/separate-icons/ok.png);
    background-position: center center;
    background-repeat: no-repeat;
  }
}
.forgot-form {
  .submit-button {
    margin-top: 5px;
  }
  .captcha-field {
    position: relative;
    &:after {
      content: "";
      display: block;
      clear: both;
      height: 0;
      line-height: 0;
    }
    input[type="text"] {
      float: right;
      width: 43%;
      text-align: center;
    }
    img {
      float: left;
      width: 55%;
      cursor: pointer;
    }
    .pre-loader {
      left: 27%;
      top: 50%;
      position: absolute;
    }
  }
}
.reg-form {
  top: 15%;
  margin-bottom: 5%;
  .personage-container {
    margin: 25px auto 48px;
  }
  input {
    &[type="text"], &[type="password"] {
      border: none;
      background: #fff;
    }
  }
  .input-holder {
    padding: 6px 0;
  }
  .submit-button {
    height: 33px;
    background: url(/css/images/icons/separate-icons/ok-medium.png) center center no-repeat;
    float: right;
    width: 30px;
    cursor: pointer;
    &:hover {
      background-image: url(/css/images/icons/separate-icons/ok-medium-hover.png);
    }
  }
}
.auth-form {
  input {
    &[type="text"], &[type="password"] {
      background-color: rgba(255, 255, 255, 0.5);
      &:focus {
        background-color: rgba(255, 255, 255, 0.6);
      }
    }
  }
  .submit-button {
    margin-top: 30px;
  }
}
.input-holder {
  padding: 4px 0;
}
.remember-holder {
  line-height: 24px;
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px;
  margin: 1px 0;
}
input {
  &[type="checkbox"], &[type="radio"] {
    @include opacity(0);
    position: absolute;
    margin-left: -30px;
    + span {
      @extend .checkbox-sprite;
      @include checkbox-sprite-position(checkbox);
      display: inline-block;
      padding-left: 32px;
      line-height: 24px;
      height: 24px;
      vertical-align: middle;
      + span {
        margin-left: 8px;
        vertical-align: middle;
      }
    }
  }
  &[type="checkbox"] {
    &:checked {
      + span {
        @include checkbox-sprite-position(checkbox-checked);
      }
    }
  }
  &[type="radio"] {
    &:checked {
      + span {
        @include checkbox-sprite-position(radio-checked);
      }
    }
  }
  &[type="text"], &[type="password"] {
    width: 100%;
  }
}
.start-form {
  width: 240px;
  left: 50%;
  margin-left: -120px;
  position: absolute;


}


$back-button-spacing: 2px;
@import "icons/back-button/*.png";

.back-button {
  @extend .back-button-sprite;
  width: 17px;
  height: 26px;
  cursor: pointer;
  @include back-button-sprite-position(back);
  &:hover {
    @include back-button-sprite-position(back-hover);
  }
  &.shop-navigation {
    top: 45px;
    left: 25px;
    position: absolute;
  }
}

.header-form {
  text-align: right;
  padding: 10px 2px;
  line-height: 20px;
  height: 20px;
  .back-button {
    margin: -3px 0;
    float: left;
  }
}
